html, body{
	    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: white;
     background-color: #D64F4F;
}

header{
	background-color: #0099cc;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
	text-shadow: 0 4px 20px black;
	margin 0;
	text-transform: uppercase;
}

header img{
	    border-radius: 180px;
        width: 300px;
        border: 12px solid white;
        box-shadow: 0 10px 20px black;
}

.content{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #D64F4F;
}

a{
	    color: white;
    background-color: #7385EB;
    text-decoration: none;
}
footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #D64F4F;
}
ul{
	text-align: center;

}
footer ul li{
	display: inline-block;


}
li{ background-color: #F27979;
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;
list-style: none;}
    p { background-color: #F27979;
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;}