header{
	background-color: #0099cc;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 10px #ffffff;
}



/* <header>
   	    <img src="img/profile.jpg">
   		<h1>Carlo Herold</h1>
   </header>*/